#cafe-input {
    width: 100%;
    max-width: 220px;
    height: 45px;
    padding: 12px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

#cafe-input:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
}

#cafe-input:active {
    transform: scale(0.95);
}

#cafe-input:focus {
    border: 2px solid grey;
}


/* button:hover {
    transform: translate(-0.05em, -0.05em);
    box-shadow: 0.15em 0.15em;
} */

button:active {
    transform: translate(0.05em, 0.05em);
    box-shadow: 0.05em 0.05em;
}

.form {
    display: flex;
    flex-direction: column;
    background: -webkit-linear-gradient(to right, #962828, #6b3f3f);
    background: linear-gradient(to right, #962828, #6b3f3f);
    padding: 20px;
    border-radius: 10px;
    max-width: 350px;
}

.title {
    font-size: 2rem;
    line-height: 2rem;
    font-weight: 700;
    letter-spacing: -0.025em;
    color: #fff;
}

.description {
    line-height: 1.5rem;
    font-size: 1rem;
    margin-top: 1rem;
    color: rgb(209 213 219);
}

.form div {
    display: flex;
    max-width: 28rem;
    margin-top: 1rem;
    column-gap: 0.5rem;
}

.form div input {
    outline: none;
    line-height: 1.5rem;
    font-size: 0.875rem;
    color: rgb(255 255 255);
    padding: 0.5rem 0.875rem;
    background-color: rgb(255 255 255 / 0.05);
    border: 1px solid rgba(253, 253, 253, 0.363);
    border-radius: 0.375rem;
    flex: 1 1 auto;
}

.form div input::placeholder {
    color: rgb(216, 212, 212);
}

.form div input:focus {
    border: 1px solid grey;
}

#incluir {
    color: #fff;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    padding: 0.625rem 0.875rem;
    background-color: rgb(241, 99, 99);
    border-radius: 0.375rem;
    border: none;
    outline: none;
}